<footer class="pt-3 ">
    <div class="bg-light pt-2 pb-2">
        <div class="container ">
            <div class="row">
                <div class="col text-start">
                    <span class="font-weight-light">Ezequiel Sanz Zima</span>
                </div>
                <div class="col text-end">
                    <a href="https://github.com/EzequielSanzZima" target="_blank" class="me-3">
                        <i class="bi bi-github" style="font-size: 1.5rem;"></i>
                    </a>
                    <a href="www.linkedin.com/in/ezequiel-sanz-zima" target="_blank">
                        <i class="bi bi-linkedin" style="font-size: 1.5rem;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>