<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('../partials/linksHead'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
</body>
<%- include('../partials/footer'); %>
<%- include('../partials/scripts'); %>
</html>
